.tell{
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url("../images/tell.jpg");
    height: 280px;
    box-sizing: border-box;
}

.tell .container{
    text-align: center;
}

.tell .container h3{
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #1F1F1F;
    margin-bottom: 40px;
}

.tell .container ul{
    display: flex;
    list-style: none;
    justify-content: center;
}

.tell .container ul li{
    margin-left: 15px;
    margin-right: 15px;
}

@media only screen and (max-width: 520px){
    .tell .container{
    }
}

@media only screen and (max-width: 520px){
    .tell .container ul{
        margin: auto;
    max-width: 300px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    }
}

@media only screen and (max-width: 520px){
    .tell .container ul li{
    max-width: 33%;

    }
}