.forma{
    padding-top: 79px;
    padding-bottom: 88px;
}
.forma_param {
    width: 496px;
    text-align: center;
}
.forma_param H3{
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #1F1F1F;
    margin-bottom: 9px;
}
.forma_param H4{
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 48px;
    color: #1F1F1F;
    margin-bottom: 26px;
}
.forma_input{
    width: 366px;
    box-sizing: border-box;
    margin: auto;
    }
.forma_input button{
    border: none;
}
.forma_input input{
    border: 1px solid #000000;
    border-radius: 0px;
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #A0A0A0;
    padding: 12px 0px 11px 8px;
}
.forma_text input{
    margin-bottom: 18px;
}

.forma_input .email{
    width: 100%;
    margin-bottom: 16px;
    box-sizing: border-box;
}
.forma button{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    display: inline-block;
    background: #FF8126;
    border-radius: 5px;
    padding: 7px 23px 10px 23px;
    cursor: pointer;
    text-decoration: none;
}

@media only screen and (max-width: 280px){
    .forma_param{
        width: 260px;
    }
}
@media only screen and (max-width: 280px){
    .forma_param H3{
        font-size: 16px;
        text-align: start;
        margin-left: 20px;
    }
}
@media only screen and (max-width: 280px){
    .forma .forma_param H4{
        font-size: 10px;
        text-align: start;
        margin-left: 20px;
    }
}
@media only screen and (max-width: 280px){
    .forma_input .forma_text{
        width: 280px;
        flex-wrap: wrap;
    }
}
@media only screen and (max-width: 280px){
    .forma_input .forma_text input{
        width: 250px
    }
}
@media only screen and (max-width: 280px){
    .forma_input .email{
        width: 260px
    }
}
@media only screen and (max-width: 360px){
    .forma_param{
        width: 350px;
    }
}
@media only screen and (max-width: 360px){
    .forma_param H4{
        text-align: start;
        margin-left: 20px;
    }
}
@media only screen and (max-width: 360px){
    .forma_param H3{
        text-align: start;
        margin-left: 20px;
    }
}
@media only screen and (max-width: 360px){
    .forma_input{
        width: 310px;
        margin-left: 20px;
    }
}
@media only screen and (max-width: 375px){
    .forma_param H3{
       font-size: 14px;
    }
}
@media only screen and (max-width: 375px){
    .forma_param H4{
        font-size: 12px;
    }
}
@media only screen and (max-width: 414px){
    .forma_param{
        width: 400px;
    }
}