.main_Premium_Bakery{
    padding-bottom: 80px;
}
.bakery_inform{
    max-width: 210px;
    box-sizing: border-box;
}
.bakery_logo{
    max-width: 48px;
    width: 100%;
    margin-bottom: 21px;
}
.bakery_logo img{
    width: 100%;
}
.main_Premium_Bakery h2{
    font-family: 'Cormorant',serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #1F1F1F;
    margin-bottom: 40px;
}
.main_Premium_Bakery h2 span{
   color: #FF8126;
}
.main_Premium_Bakery .bakery_inform h3{
    font-family: 'Cormorant',serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #1F1F1F;
    margin-bottom: 10px;
}
.main_Premium_Bakery .bakery_inform p{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1F1F1F;
}
@media only screen and (max-width: 1100px){
    .bakery_inform{
        max-width: 400px;
        margin:15px auto;
    }
    .bakery_items{
        flex-wrap: wrap;
        display: flex;
    }
}
@media only screen and (max-width: 800px){
    .bakery_inform{
        padding-bottom: 10px;
       border-bottom: 1px solid black;
    }
}