.modal_bar {
    background-color: #C2E8CE;
    padding-top: 15px;
    padding-bottom: 15px;
}

.modal_bar .container {
    position: relative;
}

.modal_bar p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #1F1F1F;
}

.modal_bar_close {
    background-image: url("../images/close_modal.svg");
    width: 16px;
    height: 16px;
    background-position: center;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
    right: 0;
}

header .container {
    padding: 20px 0;
}

header .logo {
    margin-right: 60px;
}

ul.d_flex {
    list-style: none;
}

header nav ul li a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #1F1F1F;
    text-decoration: none;
}

header nav ul li {
    margin-left: 40px;
}

header nav ul li:first-of-type {
    margin-left: 0px;
}

header ul {
    margin-left: auto;
}

header ul li {
    margin-left: 10px;
}

@media only screen and (max-width: 1177px) {
    .modal_bar button {
        margin-right: 5px;
    }
}

@media only screen and (max-width: 1040px) {
    header nav ul li {
        margin-left: 25px;
    }

    header .logo {
        margin-right: 40px;
    }
}

@media only screen and (max-width: 961px) {
    header nav ul li {
        margin-left: 25px;
    }
}

@media only screen and (max-width: 959px) {
    header nav ul li {
        margin-left: 15px;
    }
}

@media only screen and (max-width: 923px) {
    header .logo {
        margin-right: 20px;
    }
}

@media only screen and (max-width: 900px) {
    header nav ul li a {
        font-size: 13px;
    }

    .modal_bar p {
        font-size: 13px;
    }
}

@media only screen and (max-width: 840px) {
    header nav ul li {
        margin-left: 5px;
    }
}

@media only screen and (max-width: 800px) {
    header nav {
        display: none;
    }

    header .logo {
        margin-left: auto;
    }

    header ul {
        margin-right: auto;
    }
}

@media only screen and (max-width: 414px) {
    .modal_bar_close {
        width: 10px;
        height: 10px;
        right: 10px;
    }

}

@media only screen and (max-width: 390px) {
    .modal_bar p {
        font-size: 12px;
    }

}

@media only screen and (max-width: 360px) {
    .modal_bar p {
        font-size: 10px;
    }

}