footer ul{
    list-style: none;
}
footer ul li:first-of-type{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #1F1F1F;
}
footer ul li a{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #3D3D3D;
    text-decoration: none;
    margin-bottom: 15px;
}
footer ul li{
    margin-bottom: 13px;
}
@media only screen and (max-width: 768px){
    footer ul li:first-of-type{
        font-size: 12px;
    }
    footer ul li a{
        font-size: 12px;
        }}
@media only screen and (max-width: 768px){
    footer .container{
        flex-wrap: wrap;}
}
@media only screen and (max-width: 650px){
    .container{
        padding: 10px;
    }
}
